@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.title1 {
    font-size: 60px;
    font-weight: bold;
  }
  .botao-adentrar{
    align-items: center;
    justify-content: center;
    display: flex;
  }
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Bebas Neue !important;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(34, 34, 34) 100%);
    overflow: hidden; /* Isso garante que não haja rolagem vertical */
}

body {
    margin-top: 0; /* Certifique-se de que não haja margem no topo */
}
  .btn{
  margin-top: 16px;
  font-family: Bebas Neue, sans-serif !important;
  font-size:34px !important;
  letter-spacing: 1px;
  color: #fff !important;
  background: linear-gradient(90deg, #6d00cc 0%, #c500cc 100%) !important;
  padding: 10px 30px !important;
  border: solid #7000b1 2px !important;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px !important;
  border-radius: 31px !important;
  transition : 300ms !important;
  transform: translateY(0) !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  cursor: pointer !important;
  width: 80%;
  justify-content: center !important;
  height: 60px !important ;
  }
  .btn:hover{
  transition : 300ms !important;
  letter-spacing: 3px;
font-size: 35px !important;
  width: 100%;
  justify-content: center;
  padding: 10px 50px !important;
  transform : translateY(-0px) !important;
  background: linear-gradient(90deg, #6d00cc 0%, #c500cc 100%) !important;
  color: #edcbff!important;
  border: solid 2px #e0c2ff !important;
  }
 .card-body{
    margin: 1px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(8, 8, 8) 0%, rgb(31, 31, 31) 100%);
 }
 .card{
    font-size: 38px;
    background: rgb(83, 13, 100)  !important; 
    background: linear-gradient(90deg, #6d00cc 0%, #c500cc 100%) !important;
 }
 .card-header{
    text-align: center;
    font-family: "Bebas Neue";
    background: rgb(83, 13, 100)!important; 
    background: linear-gradient(90deg, #6d00cc 0%, #c500cc 100%)!important;
 }
 .card-title{
    font-size: 40px;
 }
 .error{
  font-size: 15px !important;
  background-color: #892478;
  border-radius: 4px;
  letter-spacing: 1px;
  display: none;
  padding-left: 10px;
 }
 .user-error{
  display: none;
 }